<div class="container container_root">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/stores']">Tiendas</a>
    </li>
    <li class="breadcrumb-item active">Detalles</li>
  </ol>
</div>
<div class="container">
  <div class="row" *ngIf="(store | async)?.id">
    <div class="col-xs-12 col_store">
      <img class="image" src="http://placehold.it/1140x200">
      <div class="store_details">
        <h2>{{ (store | async)?.name }}</h2>
        <p>{{ (store | async)?.description }}</p>
        <p><strong>Teléfono</strong>: {{ (store | async)?.phone }}</p>
        <h5 class="store_payment_methods" *ngIf="(store | async)?.payment_methods.length > 0">
          <span class="tag tag-pill tag-primary" *ngFor="let paymentMethod of (store | async)?.payment_methods">{{ paymentMethod.name }}</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="row row_product" *ngFor="let serviceDay of serviceDays | async">
    <div class="col-xs-12 visible-sm-down hidden-sm-up">
      <img class="image" src="http://placehold.it/350x150">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>{{ serviceDay.product.name }}</h4>
      <p>{{ serviceDay.product.description }}</p>
      <p>{{ serviceDay.price }}</p>
      <button class="btn btn-success" role="button" disabled>Ver precios</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 hidden-xs-down visible-sm-up">
      <img class="image" src="http://placehold.it/350x150">
    </div>
  </div>
  <div *ngIf="(serviceDays | async)?.length === 0">
    <p class="center">No hay productos disponibles</p>
  </div>
</div>
<hr/>
