.col_store .image, .row_product .image {
  width: 100%;
}

.row_product {
  margin-top: 20px;
  margin-bottom: 20px;
}

.store_details {
  margin-top: 40px;
  margin-bottom: 40px;
}

.store_payment_methods .tag {
  margin-right: 5px;
}
