<div class="container container_root">
  <div class="row" *ngIf="store">
    <div class="col-xs-12 col_store">
      <img class="image" src="http://placehold.it/1140x200">
      <div class="details">
        <h2>{{ store.name }}</h2>
        <p>{{ store.description }}</p>
        <p>Teléfono: {{ store.phone }}</p>
        <p>{{ store.paymentMethods}}</p>
        <div *ngIf="store.payment_methods">Medios de pago:</div>
        <ul *ngIf="store.payment_methods">
          <li *ngFor="let paymentMethod of store.payment_methods">{{ paymentMethod.name }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row row_product" *ngFor="let product of products">
    <div class="col-xs-12 visible-sm-down hidden-sm-up">
      <img class="image" src="http://placehold.it/350x150">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>{{ product.name }}</h4>
      <p>{{ product.description }}</p>
      <button class="btn btn-primary" role="button" disabled>Ver precios</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 hidden-xs-down visible-sm-up">
      <img class="image" src="http://placehold.it/350x150">
    </div>
  </div>
  <div *ngIf=" ! products || products.length === 0">
    <p class="center">No hay productos disponibles</p>
  </div>
</div>
<hr/>
