<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Almuerzos siempre disponibles</h1>
    <div>A través de este sitio podrás cotizar tu almuerzo del día, conociendo lo que ofrecen los tíos antes de ir a comprar.</div>
    <div>El objetivo es que puedas aprovechar al máximo el tiempo de almuerzo, agilizando el proceso de compra.</div>
    <p class="view_stores">
      <a class="btn btn-lg btn-primary" [routerLink]="['/stores']" role="button">Ver tiendas</a>
    </p>
  </div>
</div>
