<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" [routerLink]="['']">AlmuerSOS</a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item" *ngIf=" ! user">
      <a class="btn btn-primary" href="{{loginFacebookUrl}}">Facebook login</a>
    </li>
    <li class="nav-item" *ngIf="user">
      <div class="nav-link">{{ user.first_name }} {{ user.last_name }}</div>
    </li>
    <li class="nav-item" *ngIf="user">
      <button class="btn btn-secondary" (click)="logout()">Salir</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<div class="container-fluid container_footer">
  <footer class="footer">
    <div>&copy; AlmuerSOS 2016</div>
    <div>Contacto: tu.pe.bien.croqueta_777stars@almuersos.cl</div>
  </footer>
</div>
