.placeholder_person {
  width: 50%;
}

.btn_store_container_dummy {
  height: 2.4rem;
}

.btn_store_container {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  text-align: center;
}

/* Extra small devices (portrait phones, less than 544px) */
@media (max-width: 543px) {
  .col_store {
    margin-bottom: 50px;
  }
}
