/* You can add global styles to this file, and also import other style files */

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.justify {
  text-align: justify;
}

.container_root {
  padding-top: 5rem;
}

.container_footer {
  margin-top: 1rem;
}
